.login{
display: flex;
flex-direction: column;
}
.login__logo{
    width: 100%;
}

.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vmax - 180px);
    width: 100%;
    background-color: white;
}
.email__input{
    margin-bottom: 20px;
    border-radius: 20px;
    height: 20px;
}
.password__input{
    margin-bottom: 20px;
    border-radius: 20px;
    height: 20px;
}
.login__button{
    margin-bottom: 20px;
    border: none;
    background-color: white;
    color: rgb(67, 67, 236);
    font-size: 16px;
    text-decoration: underline;
    font-weight: 540;
}
.login__google{
    margin-bottom: 40px;
}
.register__text{
    font-weight: 400;
    line-height: 0;
    margin-top: 0;
    margin-bottom: 20px;
}
.register__link{
    color: rgb(67, 67, 236);
    font-size: 16px;
    text-decoration: underline;
    font-weight: 400;
    margin-bottom: 30px;
}